/* ROOT */
:root{
  --body-bg:#fafafa;
  --element-bg:#fff;
  --text-color:#111517;
  --search-color:#848484;
}

.dark-mode{
  --body-bg:#202c36;
  --element-bg:#2b3844;
  --text-color:#fff;
  --search-color:#fff;
}
/* FONTS */

@font-face {
  font-family: "Nunito Sans";
  src: url("../font/NunitoSans-SemiBold.woff2") format("woff2"),
  url("../font/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../font/NunitoSans-Light.woff2") format("woff2"),
  url("../font/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../font/NunitoSans-ExtraBold.woff2") format("woff2"),
  url("../font/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../font/NunitoSans-Regular.woff2") format("woff2"),
  url("../font/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* GLOBAL STYLE */
html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}


*:focus{
  outline: 3px dashed #000;
  outline-offset: 3px;
}

*,
*::before,
*::after{
  box-sizing:inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color:var(--body-bg);
  color: var(--text-color);
  transition: background-color 0.7s ease,
  color 0.7s ease;
}

img{
  max-width: 100%;
  height: auto;
}

a, li{
  text-decoration: none;
  list-style: none;
}

/* CONTAINER STYLE */

.container{
width: 100%;
max-width: 1320px;
padding-left: 20px;
padding-right: 20px;
margin-right: auto;
margin-left: auto;
}

/* MAIN-CONTENT */

.main-content{
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}

/* SITE-HEADER */

.site-header {
  padding-top: 24px;
  padding-bottom: 24px; 
  background-color: var(--element-bg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo-link {
  font-size: 24px;
  line-height: normal;
  font-weight: 800;
  color: var(--text-color);
}

.site-header-logo-link:hover{
  opacity: 0.8;
}

.site-header-logo-link:hover{
  opacity: 0.6;
}

.site-header-theme-toggler { 
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color:transparent;
  color:var(--text-color);
}

.site-header-theme-toggler:hover{
  opacity: 0.8;
}

.site-header-theme-toggler:active{
  opacity: 0.6;
}

.site-header-theme-toggler-inner {
  display: flex;
  align-items: center;
}
.site-header-theme-toggler-text {
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: var(--text-color);
}

/* FORM SECTION */

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.filters-search-input {
  min-width: 480px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 18px 74px;
  border: 0; 
  font-weight: 400;
  font-size: 14px;
  color:var(--search-color);
  background: var(--element-bg);
  line-height: 20px;
}

.filters-search-input::placeholder{
  color: var(--search-color);
}

.filters-region-select {
  min-width: 200px;
  background: var(--element-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  padding: 18px 24px; 
  border: 0;
}

/* FLAGS */

.countries-list {
  display: flex;
  flex-wrap: wrap ;
  margin-left: -75px;
  margin-bottom: -75px;
  padding: 0;
}

.countries-item{
  width: calc(25% - 75px);
  margin-left: 75px;
  margin-bottom: 75px;
  border-radius:5px;
  overflow: hidden;
  background-color: var(--element-bg);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
}


.countries-action {
  
}

.countries-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.index-country-info{
  padding: 24px 24px 48px;
}

.countries-action-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color:var(--text-color)
}

.countries-action-details {
  margin: 0;
}

.countries-action-details-item{
  display: flex;
  flex-wrap: wrap;
}

.countries-action-details-item:not(:last-child) {
  margin-bottom: 8px;
}

.countries-action-details-title {
  font-weight: 600;
}
.countries-action-details-value {  
  margin-left: 4px;
}

.countries-action-link{
  color: var(--text-color);
}

.countries-action-link:hover{
  opacity: 0.8;
}

.countries-action-link:active{
  opacity: 0.6;
}

.countries-action-text {
  padding: 0;
  margin: 0;
}

.countries-list-bottom{
  margin-top: 75px;
}

/* DETAILS PAGE */

.site-details-header{
  margin-bottom: 32px;
}

.details-back-button {
  padding:10px 32px;  
  border: 0;
  background-color:var(--element-bg);
  color: var(--text-color);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  cursor:pointer;
}

.details-back-button-img {
  margin-right: 10px;
}

.details-back-button-svg {
  color:var(--text-color);
}

.details-box {
  margin-top: 80px;
}
.details-box-list {
  display: flex;  
  align-items: center;
  margin: 0;
  padding: 0;
}
.details-box-item:not(:last-child) {
  margin-right: 120px;
}

.details-box-img {
  width: 560px;
  height: 400px;
  object-fit: cover;
  background: #808080;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
  border-radius: 10.0057px;
}

.details-box-action {
  display: flex;
  justify-content: space-between;
}

.details-box-action-heading {
  margin: 0;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color:var(--text-color)
}

.details-box-action-text {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.details-box-action-text-left{
  margin-right: 141px;
}

.details-box-action-buttons {
  display: flex;
  align-items: center;
  margin-top: 68px;
}

.details-box-action-buttons-heading{
  margin: 0;
  margin-right: 15px;
}

.button {
  padding: 5px 10px;
  border:0;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  background: var(--element-bg);
  color:var(--text-color);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
}

.button-border-countries:not(:last-child){
  margin-right: 10px;
}